@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./business-card.css');
@import url('./snow.css');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-y: auto;
}
.app > .app-header,
.app > .app-footer {
  flex-shrink: 1;
  z-index: 2;
}
.app > .app-content {
  flex-grow: 1;
  z-index: 1;
}
.app,
.app > .app-header,
.app > .app-content,
.app > .app-footer {
  position: relative;
}

.home-background {
  position: relative;
  min-height: calc(100vh - 64px);
}
.home-background::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/img/dots.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  z-index: -1;
}

.theme-icon-light,
.theme-icon-dark {
  display: none;
}
html.light .theme-icon-light {
  display: inline-block;
}
html.dark .theme-icon-dark {
  display: inline-block;
}
